body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e8e9ea;
}

a {
  color: #00B7FF;
}

sup{
	font-size: 15px;
}

.jumbotron{
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	max-height: 200px;
	border-bottom: 2px solid;
}

.box{
	margin: 10px;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
	height: 180px;
	border:1px solid grey;
}

.itemImage{
	max-height: 100px;
	float: left;
	align-self: center;
}

.img-thumbnail{
	border:0px;
}
.card-title{
	color:blue;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.limitChar{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}